# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
lint.sh

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
.output.txt

# Frontend specific
packages/frontend/dist
packages/frontend/public/pirate.gltf
packages/frontend/node_modules
packages/frontend/package-lock.json
packages/frontend/tsconfig.tsbuildinfo
packages/frontend/yarn.lock
packages/frontend/.env

# Backend specific
packages/backend/.env
packages/backend/.env.local
packages/backend/dist
packages/backend/node_modules
packages/backend/package-lock.json
packages/backend/tsconfig.tsbuildinfo
packages/backend/yarn.lock

package-lock.json